.mags{
    padding-bottom: 100px;
    &__top{
        margin-bottom: 100px;
        position: relative;
        p{
            font-size: 14px;
            line-height: 18px; 
            text-align: center;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: #1D1F2E; 
        }
        p::after{
            content: "";
            position: absolute;
            margin-left: 15px;
            top: 50%;
            width: 30px;
            height: 1px;
            background: #ECECED;
        }
        p::before{
            content: "";
            position: absolute;
            margin-left: -48px;
            top: 50%;
            width: 30px;
            height: 1px;
            background: #ECECED;
        }
    }
    &__main{
        display: flex;
        justify-content: space-between;
    }
    &__item{
        padding: 5px;
        cursor: pointer;
        p{
            font-size: 20px;
            line-height: 30px;
            color: #1D1F2E;
            text-align: center;
            margin-top: 30px;
            margin-bottom: 10px;
        }
        span{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: rgba(29, 31, 46, 0.7);
            
            small{
                margin-left: 10px;
                color: rgba(29, 31, 46, 0.7);
                position: relative;
            }
            small:after{
                content: "";
                position: absolute;
                width: 73px;
                height: 1px;
                background: rgba(29, 31, 46, 0.356);
                top: 39%;
                right: 0;
            }
        }
        .price{
            color: #A25F4B;
        }
    }
}